/** Date picker stuff **/ 
/* make the selectable days green and bold */ 
td.day:not(.disabled) {font-weight: bold !important; color: #7db93c !important; }

/* now put back the active styles once dates have been selected */ 
.datepicker table tr td.active.active, .datepicker table tr td.active.highlighted.active, .datepicker table tr td.active.highlighted:active, .datepicker table tr td.active:active .datepicker table tr td.range-end
{ color: #fff !important; background-color: #286090 !important; border-color: #204d74 !important; }


